<table class="totals">
  <tr>
    <td class="label" style="width: 80%;">Subtotal</td>
    <td style="width: 20%;">{{totals.subtotal}}</td>
  </tr>
  <tr>
    <td class="label">Sales Tax ({{totals.taxRate}})</td>
    <td>{{totals.tax}}</td>
  </tr>
  <tr>
    <td class="total-label">Total ({{totals.currency}})</td>
    <td class="total-value">{{totals.total}}</td>
  </tr>
</table>